@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --primary-color: #FF6600;
    --secondary-color: #FF8534;
    --tertiary-color: #FFA366;
    --hover-color: #FFB888;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --white: #f2f2f2;
    --black: #000000;
    --green: #008000;
    
    --warning-color: #DB537E;

    --main-font: 'Montserrat', sans-serif;
    --title-font-size: 3em;
    --subtitle-font-size: 1.2em;
    --paragraph-font-size: 1em;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--main-font);
    font-size: var(--paragraph-font-size);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

main {
    background-color: var(--white);
    min-height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.page-title {
    color: var(--primary-color);
    font-size: var(--title-font-size);
    letter-spacing: 1px;
}

.page-title span {
    color: var(--secondary-color);
    transform: rotate(180deg);
}

.page-subtitle {
    color: var(--black);
    font-size: var(--subtitle-font-size);
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    font-style: italic
}

.delete-record-btn {
    background: none;
    border: none;
    font-size: var(--paragraph-font-size);
    margin-top: .5em;
    cursor: pointer;
}

.delete-record-btn:hover {
    color: var(--warning-color);
}

.key-display {
    background: var(--tertiary-color);
    width: 12.5rem;
    height: 3.5rem;
    margin: 2rem;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs-radio {
    display: none;
    position: relative;
}



.custom-checkbox{
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;

    position: relative;
    inset: 0;
    cursor: pointer;
}

[type="radio"]:checked + label .custom-checkbox {
    background-color: var(--secondary-color);
    box-shadow:inset 0 0px 0px 2px var(--white);
}

.key-choise {
    display: flex;
}

.start-btn {
    background-color: var(--secondary-color);
    width: 9rem;
    height: 3rem;
    margin: 1em;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 4px var(--shadow-color);
    color: var(--white);
    font-size: 1.5rem;

    transition: background 300ms ease-in-out;
    cursor: pointer;
}

.start-btn:hover {
    background-color: var(--hover-color);
}

.start-btn:focus {
    background-color: var(--primary-color);
}

.game-btns {
    background-color: var(--secondary-color);
    width: 5.7em;
    height: 2.5em;
    margin: 1em;
    border: none;
    border-radius: 15px;

    transition: background 300ms ease-in-out;
    cursor: pointer;
}

.game-btns:hover {
    background-color: var(--hover-color);
}

.end-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.help-btn {
    background-color: var(--secondary-color);
    width: 2.5em;
    height: 2.5em;
    padding: .5em;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 2px var(--shadow-color);

    position: absolute;
    top: 12px;
    right: 12px;

    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

.help-btn:hover {
    transform: scale(1.1);
}

.help-dialog {
    background: var(--tertiary-color);
    width: 70%;
    padding: 1em 1.5em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--shadow-color);
    border: none;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.help-dialog h2 {
    color: var(--white);
    font-size: 1em;
    margin-bottom: 0.5em;
}

.help-dialog ol{
    text-align: left;
    margin: 1em 1.5em;
}

.help-dialog ol li {
    margin: .5em;
}

.x-btn{
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    font-weight: bold;

    position: absolute;
    top: 12px;
    right: 12px;

    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

.x-btn:hover {
    color: var(--white);
    transform: scale(1.2);
}

.new-time-record {
    color: var(--green);
    font-weight: bold;
    letter-spacing: 1px;
    font-style: italic;
}

.hide-element {
    display: none;
}

footer a {
    color: var(--black);
}

footer a:hover {
    color: var(--secondary-color);
}